<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var canvas = document.getElementById('gforce_canvas');
            var ctx = canvas.getContext('2d');
            var x = 0;
            var y = 0;
            var new_x = 0;
            var new_y = 0;

            function lerp(start, end, t){
                return start * (1 - t) + end * t;
            }
            function moveIndicator(){
                //console.log("old", x, y);
                //console.log("new", new_x, new_y);
                new_x = lerp(new_x, x, 0.25);
                new_y = lerp(new_y, y, 0.25);
                ctx.clearRect(0,0, 300, 300);
                ctx.fillStyle = "#E71D36";
                ctx.beginPath();
                ctx.arc(new_x + 150,new_y + 150,15,0,Math.PI*2,true); // gforce indicator
                ctx.closePath();
                ctx.fill();
                requestAnimationFrame(moveIndicator);

            }
            moveIndicator();
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();
            //var socket = SocketIO(app, cors_allowed_origins="*")

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('acc_data', function(msg, cb) {
                //console.log(msg.acc)
                //console.log(typeof msg.acc == 'undefined')
                //var acc_x = document.querySelector('div#acc_x');
                //var acc_y = document.querySelector('div#acc_y');
                //var acc_z = document.querySelector('div#acc_z');
                if (typeof msg.acc !== 'undefined'){
                        //console.log(x,y);
                        x = msg.acc[0] * -75;
                        y = msg.acc[1] * 75;
                }
            });
            socket.on('gps_data', function(msg, cb) {
                if (typeof msg.cords !== 'undefined'){
                        console.log(msg)
                        redraw(msg.cords[1], msg.cords[0]);
                }
            });
        });
    </script>

</head>
<body>
    <div id="content">
        <div id="gforce_container">
            <div class="gforce" id="gforce_background"></div>
            <div class="gforce" id="horizontal_line"></div>
            <div class="gforce" id="vertical_line"></div>
            <div class="gforce" id="circle1"></div>
            <div class="gforce" id="circle2"></div>
            <div class="gforce" id="circle3"></div>
            <canvas class="gforce" id="gforce_canvas" width="300" height="300"></canvas>
            <div class="gforce_text" id="acc">0.0 g</div>
        </div>
        <div id="map_container">
            <div id="map-canvas"></div>
        </div>
    </div>
    <script type="text/javascript">
            window.lat = 52.40333;
            window.lng = 16.95076;

            var map;
            var mark;
            var lineCoords = [];

            var initialize = function() {
              map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:18});
              mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
            };

            window.initialize = initialize;

            var redraw = function(lng,lat) {

                map.setCenter({lat:lat, lng:lng, alt:0});
                mark.setPosition({lat:lat, lng:lng, alt:0});

                lineCoords.push(new google.maps.LatLng(lat, lng));

                var lineCoordinatesPath = new google.maps.Polyline({
                    path: lineCoords,
                    geodesic: true,
                    strokeColor: '#2E10FF'
                });

                lineCoordinatesPath.setMap(map);
            };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC7alINfKs4zudvNe2qXW6cfxd4PVLPUGo&callback=initialize"></script>
</body>
</html>
